<!doctype html>
<html lang="en">

<head>
    {{>header_links}}

    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    {{>header}}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 container_left">
                <img src="images/profile_img1.png">
            </div>
            <div class="col-md-6 container_right">
                <p>Welcome to Saryansh's Project</p>
                <p>I am A<span class="color_bl"> Mern Stack Developer, </span></p>
                <p>and Student of Punjabi University,Patiala.</p>
                <a href="#" class="link_button">CHECK NOW</a>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>