<!doctype html>
<html lang="en">

<head>
  {{>header_links}}

  <link rel="stylesheet" href="css/contactUs.css">
</head>
<body>
  {{>header}}
  <div class="container mt-5 d-flex flex-column  align-items-center">
   <div style="color: #008000; font-weight:bold;">{{status}}</div> 
      <form class="contactForm d-flex flex-column align-items-center" action="/contact" method="POST">
        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="tel" pattern="[0-9]{10}" name="number" placeholder="Enter Your 10 Digit Phone Number">
        <input type="email"  name="email" placeholder="Enter Your Email">
        <input type="text"  name="address" placeholder="Enter Your Address">
        <textarea type="text"  name="concern" placeholder="Enter Your Concern"></textarea>
        <div class="submitBtn">
            <input type="submit" placeholder="Submit">
        </div>
      </form>
  </div>

  {{>footer}}
</body>

</html>